
<%= link_to 'New Record', new_record_path %>

<div class = "container">
 <div class = "row">
  <ul class  = "list-group">
   <%= link_to "All Divisions", root_path %>
    <% @divisions.all.each do |d| %>
     <li><%= link_to d.name, teams_path(d: d.name), class: "list-group-item" %></li>
    <% end %>
   </ul> 
 </div>  
</div>

